<h1>首页</h1>
{{!-- <p>Welcome to {{title}}</p> --}}
<br>
<ul>
    <li>
        <a href="/author">作者列表</a>
    </li>
    <li>
        <a href="/author/add">新增作者</a>
    </li>
    <li>
        <a href="/author/update/13">更新作者 /id 默认 13</a>
    </li>
    <li>
        <a href="/author/select/8">查看作者 /:id  默认8 </a>
    </li>
    <li>
        <a href="/author/del/6">删除作者 /:id  默认6 </a>
    </li>
</ul>
<br>
<ul>
    <li>
        <a href="/article/1">连表查询 通过作者 查询文章 (一对多)</a>
    </li>
    <li>
        <a href="/article/2">连表查询 查询文章 并查询作者 (一对一)</a>
    </li>
    <li>
        <a href="/article/add">随机抓取文章入库</a>
    </li>
</ul>